---
---

@import "{{ site.theme }}";

$background-color: #fff;

.table-wrapper {
  max-height: 75vh;
  overflow: auto;

  > table {
    display: table;
    position: relative;
    text-align: left;
  }
}

th {
  background: $background-color;
  position: sticky;
  top: 0;
  z-index: 2;
}

th:first-child {
  left: 0;
  z-index: 3;
}

td:first-child {
  background: $background-color;
  left: 0;
  position: sticky;
  z-index: 1;
}

.container-lg > h1:nth-child(1) {
  display: none;
}
